<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>975557409994980</sid>
    <event-sheet>Menu</event-sheet>
    <size>
        <width>1708</width>
        <height>960</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="844888365749395">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Button" uid="71">
                    <properties>
                        <type>Button</type>
                        <text>Click Aqui para jugar</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>289</x>
                        <y>71</y>
                        <z>0</z>
                        <width>281</width>
                        <height>138</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="txtJugar" uid="41">
                    <properties>
                        <text>Click aqui para Jugar</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-37,400,0</font>
                        <color>255,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-283</x>
                        <y>153</y>
                        <z>0</z>
                        <width>257</width>
                        <height>114</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="51">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>Combowhore</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>219</x>
                        <y>635</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="52">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>Dominating</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>91</x>
                        <y>865</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="53">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>firstblood</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>91</x>
                        <y>745</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="54">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>GodLike</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>606</x>
                        <y>865</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="55">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>Double_Kill</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>219</x>
                        <y>745</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="56">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>Fresh_meat</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>734</x>
                        <y>865</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="57">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>Killing_Spree</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>348</x>
                        <y>745</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="58">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>MegaKill</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>219</x>
                        <y>865</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="59">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>triple_kill</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>476</x>
                        <y>745</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="60">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>UltraKill</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>606</x>
                        <y>745</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="61">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>WhickedSick</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>476</x>
                        <y>865</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="62">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>Unstoppable</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>348</x>
                        <y>865</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="textNombre_Audio" uid="63">
                    <properties>
                        <text>Text</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-16</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-210</x>
                        <y>18</y>
                        <z>0</z>
                        <width>200</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="65">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>HolyShit</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>91</x>
                        <y>638</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="66">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>Rampage</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>610</x>
                        <y>627</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="SOnidos" uid="67">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <sonido_a_reproducir>Ownage</sonido_a_reproducir>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>734</x>
                        <y>745</y>
                        <z>0</z>
                        <width>97</width>
                        <height>82</height>
                        <depth>0</depth>
                        <hotspotX>0.504065037</hotspotX>
                        <hotspotY>0.504065037</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
